# Ignore everything, except listed files
*

# Global files
!.gitignore
!.gitattributes
!README.md
!LICENSE

# Batch files
!build.bat

# Sources files
!index.html
!style.css
!favicon.ico
!wos.svg
!crossdomain.xml

!wos.js
!wos.worker.js
!wos.wasm

!main.cpp
!Wos.h
!Wos.cpp

# System
!System/
!System/System.h
!System/SysMessage.h
!System/SysMessage.cpp
!System/SysCPU.h
!System/SysCPU.cpp
!System/SysCRC.h
!System/SysSleep.h
!System/SysClock.h
!System/SysClock.cpp
!System/SysMutex.h
!System/SysMutexLocker.h
!System/SysThread.h
!System/SysThread.cpp
!System/SysWindow.h
!System/SysWindow.cpp

# Math
!Math/
!Math/Math.h
!Math/MultiInt.h
!Math/Vector2.h
!Math/Vector2i.h
!Math/Vector3.h
!Math/Vector3i.h
!Math/Vector4.h
!Math/Vector4i.h
!Math/Matrix4x4.h
!Math/Transform2.h
!Math/Transform3.h

# Renderer
!Renderer/
!Renderer/Renderer.h
!Renderer/Renderer.cpp
!Renderer/Shader.h
!Renderer/Shader.cpp

# Cursors files
!cursors/
!cursors/default.png
!cursors/crosshair.png
!cursors/textcursor.png
!cursors/grabcursor.png
!cursors/grabbingcursor.png
!cursors/ewresize.png
!cursors/nsresize.png
!cursors/ewresize.png
!cursors/neswresize.png
!cursors/nwseresize.png

# Fonts files
!fonts/
!fonts/wosfont.otf
